@model PersonListViewModel
<hr>
@{
    int i = 0;
    foreach (var person in Model.birthdayPersons)
    {
        string dayStr, monthStr;
        dayStr = (person.DayBirth < 10) ? "0" + person.DayBirth : Convert.ToString(person.DayBirth);
        monthStr = (person.MonthBirth < 10) ? "0" + person.MonthBirth : Convert.ToString(person.MonthBirth);
        <div class="row">
            <div class="col-md-7">
                <h2>@person.Name</h2>
                <p class="lead">Date: @dayStr.@monthStr</p>
                <p class="lead">Category: @person.Category</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid mx-auto" alt="300x300" style="width: 300px; height: 300px;" src="@person.UrlImg" data-holder-rendered="true">
            </div>
        </div>
        <hr>
        i++;
    }
}
